html,body {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#auth-body {
    background-color: #f1f1f1;
    margin-top: 75px;
    height: 100%;
    width: 100%;
    position: absolute;
}
.add-file {
    width: 10em;
    height: 11em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
    text-align: center;
    display: inline-block;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}
#file-box{
    width: 32em;
    height: 11em;
    position: absolute;
    top: -4em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#div-fileUpload{
    float: left;
    width: 18.5em;
}
#div-fileDownload{
    float: right;
}

.add-file div p {
    margin-top: -5px;
}

.add-file:hover {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.fileIcon {
    margin-top: 0.5em;
}
#fileUploadImg{
    float: left;
    text-align: right;
    margin-left: 0.3em;
    margin-top: 1.45em;
}
#upload-info-box{
    display: inline-block;
    margin-top: 2.3em;
    margin-left: -1.7em;
    margin-top: 2.3em;
    margin-left: -1.5em;
}
#upload-info-box p{
    font-size: 1em;
}
#upload_file_exec{
    width: 7.5em;
    background-color: #FCD465;
    border: #FCD465;
    height: 2em;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    margin-top: 0.7em;
}


@media screen and (max-width: 45em) {
    #file-box {
    width: 75%;
     }
}