html,body{
    margin: 0px;
    width: 100%;
    min-height: 100%;
    background-color: #f1f1f1;
}
#white-place{
    width: 100%;
    height: 75px;
    background-color: #FFF;
}
#auth-body{
    width: 100%;
}
#myBtn{
    float: right;
    width: 6.5em;
    background-color: #FCD465;
    border: #FCD465;
    height: 2em;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #FFF;
    margin: auto;
    padding: 1.5em;
    width: 40em;
    border-radius: 15px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
}
#notice_kind{
    font-size: 1.05em;
    padding: 0.2em;
    margin-bottom: 1em;
}
#notice_title{
    display: block;
    width: 97.8%;
    margin-bottom: 0.7em;
    padding: 0.3em;
    font-size: 1em;
}
#notice-box{
    width: 95%;
    margin: 0 auto;
}
#bookmark{
    width: 2.2em;
    height: 2.2em;
    float: right;
    background: url(../image/notice-bookmark.svg);
}
#bookmarkAdd{
    width: 2em;
    height: 2em;
    float: right;
    background: url(../image/notice-bookmark.svg);
}
#notice_content{
    width: 98.9%;
    margin-bottom: 1em;
    padding: 0.2em;
    font-size: 1em;
    height: 10em;
}
#date-div{
    margin-bottom: 1em;
    width: 100%;
    text-align: right;
}
#w_time, #d_time,#sleep_w_time, #sleep_d_time{
    font-size: 0.9em;
    padding: 0.2em;
    width: 6em;
    text-align: center;
}
#select_sleep{
    margin-bottom: 1em;
    text-align: left;
}
#btn-div{
    width: 100%;
    text-align: right;
}
#add-btn{
    width: 5em;
    background-color: #FCD465;
    border: #FCD465;
    height: 2em;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    margin-right: 0.5em;
}
#cancle-btn{
    width: 5em;
    background-color: #FFF;
    border: 1px solid #FCD465;
    height: 2em;
    border-radius: 15px;
    color: #FCD465;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}
#dialogTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1em;
}
#td-border{
    border-bottom: 1px solid #707070;
}
.td-border-left{
    border-left: 1px solid #707070;
}
#dialogTable td{
    height: 2em;
}
#dialogTable input[type='text']{
    width: 100%;
    border: none;
    height: 100%;
    text-align: center;
    font-size: 1em;
}
#guideMessage{
    margin-top: -1em;
}
#notice-add-div{
    width: 58em;
    margin: 0 auto;
    padding-bottom: 1.5em;
}
#myBtn-box{
    height: 2em;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}